<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Zephyr Dash App{% endblock %}</title>
        {% block stylesheets %}
          {% stylesheets '@DhMainBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show pace-done pace-done">

        {% block body %}
        	{# include 'navtopbar.html.twig'#}
          <header class="app-header navbar">
            <!-- includes side navbar -->
        	  {% include 'navtopbar.html.twig' %}
          </header>
          <div class="app-body main-dash">
            {% include 'navsidebar.html.twig' %}
            {% block main %}
              <!-- Main content files -->
            {% endblock %}
          </div>

        {% endblock %}

        <!-- JS Block -->
        {% block javascripts %}
          <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          {% javascripts '@DhMainBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}

    </body>
</html>
