/* Base CSS */
#page-wrapper {
    background-color: #ececec !important;
}
.navbar-inverse {
    background-color: #6092bd !important;
    border-color: #080808 !important;
}
nav.navbar.navbar-inverse.navbar-fixed-top a {
    color: white;
}
.side-nav{
    background-color: RGB(53,64,82) !important;
}
ul.nav.navbar-nav.side-nav a {
    color: white;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: 0px -1px 13px #505050;
}
ul.dropdown-menu li a {
    color: black !important;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none !important;
    background-color: #4c5a71 !important;
}
img.img-responsive {
    /* max-height: 249px !important; */
    height: 530px !important;
    width: auto;
}


div#wrapper {
    background: white;
    min-height: calc(100vh - 50px);
}

.tab-content-zephyr {
    max-height: 370px;
}
.tab-overlay-left {
    position: absolute;
    height: 370px;
    width: 30%;
    background: rgba(0, 0, 0, 0.73);
    color: white;
    text-align: center;
    line-height: 370px;
}
.tab-overlay-right {
    position: absolute;
    height: 370px;
    width: 30%;
    background: rgba(0, 0, 0, 0.73);
    color: white;
    text-align: center;
    line-height: 370px;
    right: 0px
}
.tab-bg-image > img {
    max-height: 370px;
    background-size: cover;
    width: 100%;
}
