/* Base CSS */
.statsDash.col-lg-12 {
    /* height: calc(100% - 50px);*/
    border-bottom: 2px solid #e6e6e6;
}
section.topStatSection.row {
    background: white;
    height: 500px;
    position: relative;
    box-shadow: #3a3a3a -1px 7px 10px 0px;
}
.topbarDash.col-lg-12 {
    /*height: 50px; */
    border-bottom: 2px solid #e6e6e6;
}
section.BottomFeedSection.row {
    /*height: calc(100vh - 586px);*/
    background: #475263;
}
.row{
  margin: 0px !important;
  padding: 0px !important;
}
.container-fluid{
  margin: 0px !important;
  padding: 0px !important;
}
.flexCol {
    height: 300px;
    margin: 14px 0px;
}
.innerDiv {
    height: 100%;
    /*background: #2b2e3a;*/
    background: #838794;
    color: white;
    padding: 15px;
    border-bottom: 5px solid #354052;
}
.innerDiv:hover {
    /*box-shadow: #3a3a3a -1px 7px 10px 0px;*/
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.38);
}
.statsDash.col-lg-6 {
    /*height: calc(100% - 50px);*/
    height: calc(100% - 65px) !important;
    padding: 15px;
}
.innerStats {
    height: 100%;
    background: #efefef;
}







#page-wrapper {
    background-color: #ececec !important;
}
.navbar-inverse {
    background-color: #6092bd !important;
    border-color: #080808 !important;
}
nav.navbar.navbar-inverse.navbar-fixed-top a {
    color: white;
}
.side-nav{
    background-color: RGB(53,64,82) !important;
}
ul.nav.navbar-nav.side-nav a {
    color: white;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: 0px -1px 13px #505050;
}
ul.dropdown-menu li a {
    color: black !important;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none !important;
    background-color: #4c5a71 !important;
}
img.img-responsive {
    /* max-height: 249px !important; */
    height: 530px !important;
    width: auto;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #4e5a6d !important;
}

@media (min-width: 992px)
.main-dash {
    margin-top: 27px !important;
}
